---
import { Image } from '@astrojs/image/components'
import logo from '@/assets/logo.jpg'
import { getLangFromUrl, useTranslations } from '@/js/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const url = Astro.url.pathname.endsWith('/') ? Astro.url.pathname.slice(0, -1) : Astro.url.pathname
---

<header class="header">
  <h1 class="header__logo" aria-label="Homepage">
    <a href={lang === 'pt-BR' ? `/${lang}` : '/'}>
      <Image
        src={logo}
        alt="Matheus Almeida's icon"
        width={20}
        height={20}
        quality={100}
      />

      <span>Matheus Almeida</span>
    </a>
  </h1>

  <nav class="nav" aria-label="Main navigation">
    <ul role="list" class="nav__list">
      <li class="nav__item">
        <a href={lang === 'pt-BR' ? `/${lang}/articles` : '/articles'}>{t('nav.articles')}</a>
      </li>
      <li class="nav__item">
        <a href="https://github.com/mutheusalmeida" target="_blank">GitHub</a>
      </li>
      <li class="nav__item">
        <a href="https://codepen.io/matheusalmeida" target="_blank">CodePen</a>
      </li>
      <li class="nav__item nav__item--lang">
        <a
          class:list={[{ active: lang === 'pt-BR' }]}
          href={url.includes('/pt-BR/') ? Astro.url.pathname : lang === 'pt-BR' ? url : `/pt-BR${url.replace(`/${lang}`, '')}`}
        >
          PT
        </a> /

        <a
          class:list={[{ active: lang === 'en' }]}
          href={!url ? '/' : lang === 'en' ? url : url.includes(`/${lang}/`) ? url.replace(`/${lang}/`, '/') : `/${url.replace(`/${lang}`, '')}`}
        >
          EN
        </a>
      </li>
    </ul>
  </nav>
</header>

<style>
  .header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: baseline;
    justify-content: space-between;
    gap: 1.875em 1em;
    padding: var(--spacing-80) 0;
    width: min(90vw, var(--spacing-wide));
    margin-inline: auto;
    font-family: var(--font-family-secondary);
    text-transform: lowercase;
    font-size: var(--font-size-20);
  }

  .header__logo {
    font-size: var(--font-size-20);
    line-height: var(--line-height-sm);

    & a {
      display: flex;
      align-items: center;
      gap: 0.8em;
      color: inherit;
      text-decoration: none;
    }

    & img {
      border-radius: var(--border-radius-sm);
    }
  }

  .nav {
    display: flex;
    justify-self: flex-end;
    align-items: center;
  }

  .nav__list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0;
    gap: 0.4375em 1.2em;
    font-weight: 700;

    & .nav__item--lang {
      color: var(--gray);
      text-transform: uppercase;
    }

    & .nav__item {
      list-style: none;

      & a {
        color: inherit;
        text-decoration: none;
      }

      & a.active {
        color: var(--dark);

        @media (prefers-color-scheme: dark) {
          color: var(--white);
        }
      }
    }
  }
</style>
